* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 15px;
}
label, button {
    display:block;
}

#menu li {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid black;
}

#chat {
    border: 1px solid black;
}

#login-container {
    float:right;
}

#main-content {
    float: left;
}

.messages {
    border-bottom: 1px solid black;
    margin-left: 20px;
}
.messages:last-of-type{
    border-bottom: none;
}

.user-data-postby{
    color: deepskyblue;
}
.user-data-postdate{
    color: red;
}